@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
  /*définition du thème des polices */
  --font-color--titleh1: rgb(194, 25, 25);
  --font-color--titleh2: rgb(85, 85, 85);
  --font-color--titleh3: #4c7fdd;
  --font-color--p:rgb(73, 73, 73);

  /*définitiion du thème des arrière plans*/
  --bgd-body:rgb(209, 209, 209);
  --bgd-languette:rgb(180, 180, 180);

}

/** Définition des thèmes de coueurs **/
.dark{
  --bgd-body:#555;
  --font-color--p:#CCC;
  --font-color--titleh2: #CCC;
}

.blue{
  --font-color--titleh1: #4c7fdd;
  --font-color--titleh3: #4c7fdd;
}

.red{
  --font-color--titleh1: rgb(180, 57, 57);
  --font-color--titleh3: rgb(180, 57, 57);
}

.green{
  --font-color--titleh1: rgb(47, 156, 4);
  --font-color--titleh3: rgb(47, 156, 4);

}

.violet{
  --font-color--titleh1: rgb(253, 0, 198);
  --font-color--titleh3: rgb(136, 35, 161);
}


.f0f{
  --font-color--titleh1: rgb(253, 0, 198);
  --font-color--titleh3: #f0f;
}

/*Ici tout ce qui touche au body*/
body{ 
  background-color: var(--bgd-body);
  font-family: Poppins, arial, sans-serif;
}


/*Ici le header de la page*/
header{
  background-color: var(--bgd-body);
  display:flex;
  align-items: center;
  justify-content: flex-start;
  border-color: rgba(85, 85, 85, 0);
  border-image: url(../images/vague.svg);
  border-image-slice: 16 0 16 0;
  border-image-width: 0px 0px 17px 0px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch; 
  height : 8em;
}

.header-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height : auto;
}

.header-title{
  font-weight: 800;
  font-size: 3.5em;
  justify-self: center;
  align-self: center;
  margin-left: 5vw ;
  text-align: center;
  letter-spacing: 1.0vw;
  color: var(--font-color--titleh1);
}

.header-subtitle{
  font-size: 1.15em;
  color: var(--font-color--titleh2);
  align-self: center;
  font-weight: 400;
}

.header-subsubtitle{
  font-size: 1em;
  color: var(--font-color--titleh3);
  align-self: flex-end;
  margin-top: 0.2em;
  font-weight: 600;
}

.header-right{
  width: 30vw;
  height : auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image{
  height: 6em;
}

.header-image-subcontent{
  color:var(--font-color--p);
  width: 6em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  rotate: -27deg;
  font-size: 1em;
  line-height: 1.5em;
}

/*Le svg logo d'image*/
#path924, #path934{
  animation-name: colorChange;
  animation-duration: 30s; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  stroke:var(--font-color--titleh3);
  filter:hue-rotate(-30deg);
}

@keyframes colorChange{
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(180deg);
  }
}

/**------- La languette des couleurs --------*/

.theme-bar{
  position: absolute;
  top: 0;
  left: 0;
}


.theme-bar--languette{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: var(--bgd-languette);
  top : 0;
  left : 0;
  width: 34px;
  height: 34px;
  border-bottom-right-radius: 17px;
  animation-duration: 3s;
  animation-name: menu-appear0;

}

.theme-bar--languette::before{
  content : "\2261"
}

.theme-bar--languette-ouverte {
  font-size: 1.7em;
  border-radius: 0px;
  margin-right: 0;
  animation-duration: 3s;
  animation-name: menu-appear1;
}
.theme-bar--languette-ouverte::before {
  content : "\224b"
}


.theme-bar--choices{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, var(--bgd-languette), rgba(255, 255, 255, 0));
  position: relative;
  top: 34px;
  right: 0px;
  width : 34px;
  height: 170px;
  border-bottom-right-radius : 17px;
  border-bottom-left-radius : 17px;
  /* border: #4c7 1px solid; */

}

.hide{
  display : none;
}

.theme-color {
  width : 20px;
  height : 20px;
  border-radius: 10px;
}

.theme-bar--choices .blue{
  background-color: rgb(68, 104, 204);
}
.theme-bar--choices .red{
  background-color: rgb(180, 57, 57);
}
.theme-bar--choices .green{
  background-color: rgb(47, 156, 4);
}
.theme-bar--choices .violet{
  background-color: rgb(90, 0, 102);
}
.theme-bar--choices .f0f{
  background-color: #f0f
}

.theme-color-nightOrDay span::before{
  content: "\2605";
  width : 25px;
  height : 25px;
  font-size: 1.25em;
  border-radius: 16px;
}

.theme-dark span::before{
    content: "\2600";
}


/*Partie main*/
.main{
  height: calc(100vh - 8em);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.section-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.image-section{
  width: 50px;
  height: auto;
  margin: 0 2vw;
}


.main-section{
  margin: 1.5vh 2vw;
}

.title-section{
  color:var(--font-color--titleh3);
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 3vw ;
  text-transform: capitalize;
}

.section-me-title{
  margin-top: 1em;
}

.section-content{
  display: none;
  color: var(--font-color--p);
  margin: 0 0 0 0;
  line-height: 1.2em;
  border: none;
}

.list-item{
display: flex;
justify-content: flex-start;
}

.list-item:first-of-type{
  margin-top: 5px;
}

.item-property {
  text-align: end;
  font-weight: bold;
  color:var(--font-color--titleh3);
  filter: hue-rotate(135deg);
}

.item-me-property{
  /* width: 20vw; */
  min-width: 100px;
}
.item-formation-property{
  /* width: 13vw; */
  min-width: 70px;
}
.item-experience-property{
  /* width: 17vw; */
  min-width: 100px;
}
.item-knowHow-property{
  /* width: 20vw; */
  min-width: 140px;
}

.legal{
  /* color: var(--font-color--titleh3);
  filter: hue-rotate(135deg); */
  width: 80vw;
  margin: 1rem auto ;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #aaa;
} 

.list-legal{
  width: 80vw;
  margin: 1rem auto;
}

.laius{
  width: 80vw;
  margin: 0.5rem auto;
}
.laius:first-of-type {
  margin: 1rem auto 0 auto;
}
.section-title:hover > .image-section {
  filter: invert(55%) drop-shadow(0px 0 15px #BBB);
}

.section-title:hover > .title-section {
  filter: drop-shadow(0 0 15px #bbb);
}


.section-title:focus + .section-content{
  animation-duration: 0.8s;
  animation-name: appear;
  display: block;
}

 .section-title:focus + .section-content .item-property {
  animation-duration: 0.8s;
  animation-name: appear_2;
} 

.section-content:hover, .section-content:focus{
  display: block;
}

.section-title:focus > .image-section {
  animation-duration: 1s;
  animation-name: changeImageColor;
  filter: invert(55%) drop-shadow(0 0 15px #BBB);

}
.section-title:focus > .title-section {
  animation-duration: 1s;
  animation-name: addDropShaddow;
  filter: drop-shadow(0 0 15px #BBB);

}

  @keyframes appear {
    from {
      color: var(--bgd-body);
    }
  }
  @keyframes appear_2{
  from {
    color: var(--bgd-body);
    }
  }

  @keyframes changeImageColor {
  
    from {
      filter: invert(0%)
    }

    to{
      filter: invert(55%) drop-shadow(0 0 15px #BBB);
    }
  }

  @keyframes addDropShaddow {
  
    from {
      filter: none;
    }

    to{
      filter: drop-shadow( 0 0 15px #bbb);
    }
  }

  @keyframes menu-appear1 {
    from {
      content : "\2261"
    }
  }
  @keyframes menu-appear0 {
    from {
      content : "\224b"
    }
  }
  /*selon mika, mettre l'icone pas de photo avec cette couleur : #4c7fdd

  /*
    Breaks points des @mediaQuerrys
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.
  */