@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root{
  /*définition du thème des polices */
  --font-color--titleh1: #fff;
  --font-color--titleh2: #fff;
  --font-color--titleh3: #4c7fdd;
  --font-color--p:#fff;

  /*définitiion du thème des arrière plans*/
  --bgd-body:#555;

}

body{ 
  background-color: var(--bgd-body);
  font-family: Poppins, arial, sans-serif;
}

header{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 2px rgb(255, 255, 255);
  /* padding-bottom: 2vh; */
  height : 17vh;
}

.header-left{
  /* box-sizing:content-box; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height : auto;

  /* border: white solid 1px; */

}

.header-title{
  font-weight: 800;
  font-size: 8vh;
  align-self: flex-start;
  margin-left: 1vw ;
  text-align: center;
  letter-spacing: 0.8vw;
  color: var(--font-color--titleh1);
  /* border: white solid 1px; */

}

.header-subtitle{
  font-size: 2vh;
  color: var(--font-color--titleh2);
  align-self: center;
  font-weight: 400;
  /* border: white solid 1px; */

}

.header-subsubtitle{
  font-size: 1.5vh;
  color: var(--font-color--titleh3);
  align-self: flex-end;
  margin-top: 0.3vh;
  font-weight: 400;
  /* border: white solid 1px; */
}

.header-right{
  width: 30vw;
  height : auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image{
  height: fit-content;
  max-height: 13vh;
}

.header-image-subcontent{
  color:var(--font-color--p);
  width: 20vw;
  font-weight: bold;
  position: absolute;
  text-align: center;
  rotate: -27deg;
  font-size: 2.3vh;
}

.section-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.image-section{
  width: 50px;
  height: auto;
  margin: 0 2vw;
}

.main-section{
  margin: 3vh 2vw;
}

.title-section{
  color:var(--font-color--titleh3);
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  margin-left: 3vw ;
  text-transform: capitalize;
  border: none;
}

.section-content{
  /* display: flex;
  flex-wrap: wrap; */
  display: none;
  color: var(--font-color--p);
  margin: 0 0 0 0;
  line-height: 1.2em;
  border: none;
}

.list-item{
display: flex;
justify-content: flex-start;
}

.list-item:first-of-type{
  margin-top: 5px;
}

.item-property {
  text-align: end;
  font-weight: bold;
  color:var(--font-color--titleh3);
  filter: hue-rotate(135deg);
}

.item-me-property{
  width:20vw;
  min-width: 100px;
}
.item-formation-property{
  width:20vw;
  min-width: 70px;
}
.item-experience-property{
  width:20vw;
  min-width: 100px;
}
.item-knowHow-property{
  width:20vw;
  min-width: 140px;
}

.section-title:hover > .image-section {
  filter: invert(55%) drop-shadow(0px 0 15px #BBB);
}

.section-title:hover > .title-section {
  filter: drop-shadow(0 0 15px #bbb);
}


.section-title:focus + .section-content{
  animation-duration: 0.8s;
  animation-name: appear;
  display: block;
}

 .section-title:focus + .section-content .item-property {
  animation-duration: 0.8s;
  animation-name: appear_2;
} 

.section-content:hover, .section-content:focus{
  display: block;
}

.section-title:focus > .image-section {
  animation-duration: 1s;
  animation-name: changeImageColor;
  filter: invert(55%) drop-shadow(0 0 15px #BBB);

}
.section-title:focus > .title-section {
  animation-duration: 1s;
  animation-name: addDropShaddow;
  filter: drop-shadow(0 0 15px #BBB);

}

  @keyframes appear {
    from {
      color: var(--bgd-body);
    }
  }
  @keyframes appear_2{
  from {
    color: var(--bgd-body);
    }
  }

}
  @keyframes changeImageColor {
  
    from {
      filter: invert(0%)
    }

    to{
      filter: invert(55%) drop-shadow(0 0 15px #BBB);
    }
  }

  @keyframes addDropShaddow {
  
    from {
      filter: none;
    }

    to{
      filter: drop-shadow( 0 0 15px #bbb);
    }
  }

  /*selon mika, mettre l'icone pas de photo avec cette couleur : #4c7fdd

  /*
    Breaks points des @mediaQuerrys
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.
  */