@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
  /*définition du thème des polices */
  --font-color--titleh1: #fff;
  --font-color--titleh2: #fff;
  --font-color--titleh3: #4c7fdd;
  --font-color--p:#fff;

  /*définitiion du thème des arrière plans*/
  --bgd-body:#555;

}
/*Ici tout ce qui touche au body*/
body{ 
  background-color: var(--bgd-body);
  font-family: Poppins, arial, sans-serif;
}

/*Ici le header de la page*/
header{
  background-color: var(--bgd-body);
  display:flex;
  align-items: center;
  justify-content: flex-start;
  border-image: url(../images/vague.svg);
  border-image-slice: 16 0 16 0;
  border-image-width: 0px 0px 17px 0px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch; 

  /*border-bottom: solid 1px rgba(255, 255, 255, 0);*/
  /* padding-bottom: 2vh; */
  height : 8em;
}

.header-left{
  /* box-sizing:content-box; */
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height : auto;

  /* border: white solid 1px; */

}

.header-title{
  font-weight: 800;
  font-size: 3.5em;
  /* font-size-max */
  align-self: flex-start;
  margin-left: 1vw ;
  text-align: center;
  letter-spacing: 1.0vw;
  color: var(--font-color--titleh1);
  /* border: white solid 1px; */

}

.header-subtitle{
  font-size: 1.15em;
  color: var(--font-color--titleh2);
  align-self: center;
  font-weight: 400;
  /* border: white solid 1px; */

}

.header-subsubtitle{
  font-size: 1em;
  color: var(--font-color--titleh3);
  align-self: flex-end;
  margin-top: 0.2em;
  font-weight: 600;
  /* border: white solid 1px; */
}

.header-right{
  width: 30vw;
  height : auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image{
  height: 6em;
}

.header-image-subcontent{
  color:var(--font-color--p);
  width: 6em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  rotate: -27deg;
  font-size: 1em;
  line-height: 1.5em;
}

#path924, #path934{
  animation-name: colorChange;
  animation-duration: 30s; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  stroke:var(--font-color--titleh3);
  filter:hue-rotate(-30deg);
}

@keyframes colorChange{
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(180deg);
  }
}
/*Partie du dessous*/
.main{
  height: calc(100vh - 8em);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.section-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.image-section{
  width: 50px;
  height: auto;
  margin: 0 2vw;
}


.main-section{
  margin: 1.5vh 2vw;
  /* border : solid 1px black; */
}

.title-section{
  color:var(--font-color--titleh3);
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 3vw ;
  text-transform: capitalize;
}

.section-me-title{
  margin-top: 1em;
}

.section-content{
  /* display: flex;
  flex-wrap: wrap; */
  display: none;
  color: var(--font-color--p);
  margin: 0 0 0 0;
  line-height: 1.2em;
  border: none;
}

.list-item{
display: flex;
justify-content: flex-start;
}

.list-item:first-of-type{
  margin-top: 5px;
}

.item-property {
  text-align: end;
  font-weight: bold;
  color:var(--font-color--titleh3);
  filter: hue-rotate(135deg);
}

.item-me-property{
  /* width: 20vw; */
  min-width: 100px;
}
.item-formation-property{
  /* width: 13vw; */
  min-width: 70px;
}
.item-experience-property{
  /* width: 17vw; */
  min-width: 100px;
}
.item-knowHow-property{
  /* width: 20vw; */
  min-width: 140px;
}

.legal{
  /* color: var(--font-color--titleh3);
  filter: hue-rotate(135deg); */
  width: 80vw;
  margin: 1rem auto ;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #aaa;
} 

.list-legal{
  width: 80vw;
  margin: 1rem auto;
}

.laius{
  width: 80vw;
  margin: 0.5rem auto;
}
.laius:first-of-type {
  margin: 1rem auto 0 auto;
}
.section-title:hover > .image-section {
  filter: invert(55%) drop-shadow(0px 0 15px #BBB);
}

.section-title:hover > .title-section {
  filter: drop-shadow(0 0 15px #bbb);
}


.section-title:focus + .section-content{
  animation-duration: 0.8s;
  animation-name: appear;
  display: block;
}

 .section-title:focus + .section-content .item-property {
  animation-duration: 0.8s;
  animation-name: appear_2;
} 

.section-content:hover, .section-content:focus{
  display: block;
}

.section-title:focus > .image-section {
  animation-duration: 1s;
  animation-name: changeImageColor;
  filter: invert(55%) drop-shadow(0 0 15px #BBB);

}
.section-title:focus > .title-section {
  animation-duration: 1s;
  animation-name: addDropShaddow;
  filter: drop-shadow(0 0 15px #BBB);

}

  @keyframes appear {
    from {
      color: var(--bgd-body);
    }
  }
  @keyframes appear_2{
  from {
    color: var(--bgd-body);
    }
  }

  @keyframes changeImageColor {
  
    from {
      filter: invert(0%)
    }

    to{
      filter: invert(55%) drop-shadow(0 0 15px #BBB);
    }
  }

  @keyframes addDropShaddow {
  
    from {
      filter: none;
    }

    to{
      filter: drop-shadow( 0 0 15px #bbb);
    }
  }

  /*selon mika, mettre l'icone pas de photo avec cette couleur : #4c7fdd

  /*
    Breaks points des @mediaQuerrys
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.
  */